<div class="login-div">
	<h2>Sign in</h2>

	<form id="login-form" class="bf-example form-horizontal">
		<div class="form-group">
			<label for="inputEmail1" class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10">
				<input type="email" class="form-control form-control-square" id="inputEmail1" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword1" class="col-lg-2 control-label">Password</label>
			<div class="col-lg-10">
				<input type="password" class="form-control form-control-square" id="inputPassword1" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button class="btn btn-square btn-primary" id="btnSignIn">Sign in</button>
			</div>
		</div>
	</form>
</div>





